.header {
  border-bottom: 1px solid #ebebeb;
  background-color: #fff;
  padding: 0px 30px;
}

.logo {
  font-size: 20px;
  font-weight: bold;
  color: #487bd7;
}

.user {
  font-size: 14px;
  font-weight: normal;
  float: right;
}
